harp = json('../../../harp.json', {hash: true})
#about
  position relative
  display block
  top -136px
  visibility hidden
section.about
  .index &
    padding-top 35px
  sectionstyle('light')
  h4, h5
    color color-headinglight
  aside
    width 60%
    @media screen and (max-width: 1000px)
      width 100%
  .photo
    margin-top 30px
    margin-left 10%
    float right
    @media screen and (max-width: 700px)
      float none
      margin 0 auto
      margin-bottom 30px
    border-radius 50%
    max-width 100%
    //get the photo URL from harp.json
    photo = harp.globals.photo
    background-image url(photo)
    background-size cover
    background-position top -30px center
    size(250px)