color-accent = #FC5653
color-herosub = #9395a1
color-navtext = #fff

// Light Section Colors
color-headinglight = #313338
color-subheadinglight = #4f525a
color-textlight = #8c9099
color-bglight = #fff

// Dark Section Colors
color-headingdark = #fff
color-textdark = #8c9099
color-bgdark = #323641