#hero
  hero-image = harp.globals.heroImage
  background-image url(hero-image)
  background-position center center
  background-size cover
  height 100vh
  text-align center
  background-color color-bg
  color white
  &:before
    content ''
    size(100%)
    position absolute
    top 0
    left 0
    height 100%
    background-color rgba(0,0,0,.7)
.hero-content
  width 100%
  center-trans()
.hero-name
  color color-accent
.blurb
  color color-textalt
  margin 33px 0 86px
  font-family mont
  font-size 18px