// import globals from from harp.json
harp = json('../../../harp.json', {hash: true})
// import stylus partials
@require 'mixins/*'
@require 'reset'
@require 'colors'
@require 'type'
@require 'hero'
@require 'nav'

body
  height 4000px
.social-links
  list-inline(1em)
.photo
  border-radius 50%
  max-width 100%
  //get the photo URL from harp.json
  photo = harp.globals.photo
  background-image url(photo)
  background-size cover
  background-position top -30px center
  size(400)
