global-reset()
// import globals from from harp.json
harp = json('../../../harp.json', {hash: true})
// import stylus partials
$fa-font-path = '../../fonts/font-awesome-stylus/fonts'
@require '../../_components/font-awesome-stylus/stylus/index.styl'

@require 'mixins/*'
@require 'colors'
@require 'type'
@require 'globals'
@require 'hero'
@require 'nav'
@require 'footer'
@require 'about'
@require 'skills'
@require 'portfolio'