section.skills
  sectionstyle('light')
  padding-bottom 121px
p.main
  margin-bottom 30px
  line-height 1.6
.slide
  // height 60vh
  overflow hidden
  // margin-bottom 121px
.skillgrid
  cursor pointer
  background-color color-accent
  height 150px
.hidden
  // display none
  height 0
  opacity 0
.category
  transition all 0.2s ease
  &:hover
    background-color shade(color-accent, 30%)
    h4
      color tint(color-bgdark, 90%)
  border-right 1px solid shade(color-accent, 30%)
  &:last-child
    border-right none
  h4
    transition color .2s ease
    font-size 40px
    color lighten(color-bgdark, 10%)
    line-height 141px
    vertical-align middle
  text-align center
  width 25%
  float left