section.skills
  .view-port
    overflow hidden
  .page-view
    transition all .5s ease
    width 500%
  sectionstyle('light')
  padding-top 80px
  padding-bottom 111px
  p.main
    margin-bottom 30px
    line-height 1.6
.skill-sel
  text-align center
  list-inline(2em)
  padding-bottom 116px
.slide
  width 20%
  display inline-block
  vertical-align top